<h1>Carrito de Compras</h1>

<div id="cart-content">
  {{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
    <li>
      <strong>{{this.product.title}}</strong> - ${{this.product.price}} ({{this.quantity}} unidades)
      <br>
      <label for="quantity-{{this.product._id}}">Modificar cantidad:</label>
      <input type="number" id="quantity-{{this.product._id}}" value="{{this.quantity}}" min="1">
      <button onclick="updateProductQuantity('{{this.product._id}}')">Actualizar</button>
      <button onclick="deleteProductFromCart('{{this.product._id}}')">Eliminar del carrito</button>
    </li>
    {{/each}}
  </ul>
  <button onclick="emptyCart()">Vaciar carrito</button>
  {{else}}
  <p>El carrito está vacío.</p>
  {{/if}}
</div>
