<h1>Detalles del Producto</h1>

<div>
    <h2>{{product.title}}</h2>
    <p>Precio: ${{product.price}}</p>
    <p>Categoría: {{product.category}}</p>
    <p>Stock: {{product.stock}}</p>
    <strong>Descripción: </strong>{{product.description}}<br/><br>

    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity" min="1" value="1" required>
    
    <button type="button" onclick="addToCart('{{product._id}}', document.getElementById('quantity').value)">
      Agregar al carrito
    </button>

    <br>
    <br>
    <a href="/products">Volver a la lista de productos</a>
</div>
